### Campus Placement Prediction:

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
#importing data set
data = pd.read_csv("./Datasets/balanced.csv")

In [3]:
data.shape

(1672, 10)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Branch                1672 non-null   object
 1   Degree                1672 non-null   object
 2   Aptitude              1672 non-null   object
 3   English               1672 non-null   object
 4   Quantitative          1672 non-null   object
 5   Analytical            1672 non-null   object
 6   Domain                1672 non-null   object
 7   Computer Fundamental  1672 non-null   object
 8   Coding                1672 non-null   object
 9   placed                1672 non-null   int64
dtypes: int64(1), object(9)
memory usage: 130.8+ KB

In [5]:
data.head(10)

,Branch,Degree,Aptitude,English,Quantitative,Analytical,Domain,Computer Fundamental,Coding,placed
0,Electronics and Communications Engineering,B. Tech.,38 %,47 %,13 %,53 %,35 %,07 %,00 %,0
1,Mechanical Engineering,B. Tech.,60 %,70 %,60 %,50 %,40 %,33 %,00 %,1
2,Information Technology,B. Tech.,58 %,73 %,33 %,67 %,30 %,60 %,00 %,0
3,Instrumentation and Control Engineering,B. Tech.,36 %,33 %,40 %,33 %,45 %,33 %,00 %,0
4,Computer Science Engineering,B. Tech.,60 %,60 %,55 %,65 %,40 %,73 %,11 %,1
5,Electronics and Communications Engineering,B. Tech.,69 %,67 %,93 %,47 %,65 %,40 %,20 %,1
6,Computer Science Engineering,B. Tech.,56 %,53 %,47 %,67 %,65 %,53 %,20 %,0
7,Mechanical Engineering,B. Tech.,53 %,73 %,53 %,33 %,15 %,33 %,00 %,0
8,Electronics and Communications Engineering,B. Tech.,60 %,60 %,55 %,65 %,50 %,33 %,00 %,1
9,Computer Science Engineering,BE,49 %,60 %,47 %,40 %,55 %,53 %,20 %,0

In [6]:
# Convering non numerical data into numerical
data["Aptitude"] = data["Aptitude"].str.replace("%",'').astype(int)
data["English"] = data["English"].str.replace("%",'').astype(int)
data["Quantitative"] = data["Quantitative"].str.replace("%",'').astype(int)
data["Analytical"] = data["Analytical"].str.replace("%",'').astype(int)
data["Domain"] = data["Domain"].str.replace("%",'').astype(int)
data["Computer Fundamental"] = data["Computer Fundamental"].str.replace("%",'').astype(int)
data["Coding"] = data["Coding"].str.replace("%",'').astype(int)

In [7]:
data.head()

,Branch,Degree,Aptitude,English,Quantitative,Analytical,Domain,Computer Fundamental,Coding,placed
0,Electronics and Communications Engineering,B. Tech.,38,47,13,53,35,7,0,0
1,Mechanical Engineering,B. Tech.,60,70,60,50,40,33,0,1
2,Information Technology,B. Tech.,58,73,33,67,30,60,0,0
3,Instrumentation and Control Engineering,B. Tech.,36,33,40,33,45,33,0,0
4,Computer Science Engineering,B. Tech.,60,60,55,65,40,73,11,1

In [8]:
transformedData = pd.get_dummies(data)

In [9]:
transformedData

,Aptitude,English,Quantitative,Analytical,Domain,Computer Fundamental,Coding,placed,Branch_Agricultural Engineering,Branch_Applied Electronics and Instrumentation,...,Branch_Electronics and Communications Engineering,Branch_Electronics and Instrumentation Engineering,Branch_Information Technology,Branch_Instrumentation and Control Engineering,Branch_MCA,Branch_Mechanical Engineering,Degree_B. Tech.,Degree_BE,Degree_M. Tech.,Degree_MCA
0,38,47,13,53,35,7,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,60,70,60,50,40,33,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,58,73,33,67,30,60,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,36,33,40,33,45,33,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,60,60,55,65,40,73,11,1,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1667,63,70,65,55,40,47,11,1,0,0,...,0,0,1,0,0,0,1,0,0,0
1668,42,27,40,60,35,47,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1669,48,55,30,60,43,13,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
1670,47,47,60,33,35,33,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1671,51,53,33,67,25,53,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [10]:
transformedData.to_csv("./Datasets/data.csv",index=False)

In [11]:
data = pd.read_csv("./Datasets/data.csv")

In [12]:
data.head()

,Aptitude,English,Quantitative,Analytical,Domain,Computer Fundamental,Coding,placed,Branch_Agricultural Engineering,Branch_Applied Electronics and Instrumentation,...,Branch_Electronics and Communications Engineering,Branch_Electronics and Instrumentation Engineering,Branch_Information Technology,Branch_Instrumentation and Control Engineering,Branch_MCA,Branch_Mechanical Engineering,Degree_B. Tech.,Degree_BE,Degree_M. Tech.,Degree_MCA
0,38,47,13,53,35,7,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,60,70,60,50,40,33,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,58,73,33,67,30,60,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,36,33,40,33,45,33,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,60,60,55,65,40,73,11,1,0,0,...,0,0,0,0,0,0,1,0,0,0